header{
	padding: 20px 0;
}

.detalhe{
	border: 10px solid #272727;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 40px 0;
}

.cabecalho{
	display: inline-block;
    position: absolute;
    top: 150px;
    right: 0;
}

.nome{
    font-family: sans-serif;
    font-size: 70px;
    color: #272727;
    text-transform: uppercase;
    text-decoration: none;
}

.curso{
	text-transform: uppercase;
	color: #C2331A;
	font-family: serif;
	font-size: 22px;
	text-decoration: none;
	
}

.profile{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;

}

#titulo{
	text-transform: uppercase;
	color: #C2331A;
	font-family: serif;
	font-size: 22px;
	text-decoration: none;
	padding: 20px 0;
}

.perfil{
	width: 25%;
	max-height: 300px;
	border-radius: 50%;
}

#itens{
	color: #272727;
	font-family: serif;
	font-size: 18px;
	text-decoration: none;
}

.row{
	position: relative;
	width: 940px;
	margin: 0 auto;
	border: 1px solid #272727;
}

.experiencia{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;
}

.experiencia ul{
	list-style: inside;
}

.formacao{
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;
}

.conteudo li{
	display: inline-block;
	text-align: left;
	width: 30%;
	vertical-align: top;
	margin: 0 1%;
	padding: 20px 10px;
	box-sizing: border-box;
}

.itens1{
	text-transform: uppercase;
	color:  #272727;
	font-family: serif;
	font-size: 16px;
	text-decoration: none;
	padding: 10px 0;
}

.conteudo{
	font-size: 16px;
}

footer{
	padding: 20px 0;
}